<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ .Product.Name }}</title>
</head>

<body>
  <h1>{{ .Product.Name }}</h1>
  <p>Price: ¥{{ .Product.Price }}</p>

  <form action="/products/{{ .Product.Id }}/delete" method="post" style="margin-top:20px;">
    <button type="submit" onclick="return confirm('本当に削除しますか？');">Delete</button>
  </form>

  <ul style="list-style: none; padding: 0;">
    <li>
      <a href="/products/{{ .Product.Id }}/edit">edit</a>
    </li>
    <li>
      <a href="/products">Back to list</a>
    </li>
  </ul>
</body>

</html>