<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ .Product.Name }}</title>
</head>

<body>
  <h1>{{ .Product.Name }}</h1>
  <p>Price: ¥{{ .Product.Price }}</p>
  <p>Stock: {{ .Product.Stock }}個</p>

  <form action="/cart/add" method="POST">
    <input type="hidden" name="product_id" value="{{.Product.Id}}">
    <label>購入個数</label>
    <input type="number" name="quantity" min="1" max="{{.Product.Stock}}" required>
    <button type="submit">カートに追加</button>
  </form>

  {{ if .IsAdmin }}
  <form action="/admin/products/{{ .Product.Id }}/delete" method="post" style="margin-top:20px;">
    <button type="submit" onclick="return confirm('本当に削除しますか？');">Delete</button>
  </form>
  {{ end }}

  {{if .IsAdmin}}
  <p><a href="/admin/products/{{ .Product.Id }}/edit">edit</a></p>
  {{end}}
  <p><a href="/products">Back to list</a></p>

</body>

</html>